body{
    background-color: 605F5E;
    margin: 0px;
    /* padding: 0px; */
    font-family: Signika_light;
    font-weight: thin;
}

/* Landingpage start */
.wrapper_1_landing {
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    }
    
.wrapper_2_landing {
    color: FFFFFF;
    display: flex;
    position: relative;
    flex-direction: column;
    /* position: absolute; */
    /* justify-content: center; */
    align-items: center;
    /* height: 50%; */
    top: 40%;
    /* bottom: 50%; */
}
    
#tittel_landing{
    margin: 0px 0px 5px 0px;
    font-size: 80px;
}

#info_landing{
    margin: 0px;
    font-weight: 200;
}

.wrapper_3_landing{
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    color: FFFFFF;
    font-weight: 1000;
    position: relative;
    left: auto;
    top: 67%;
}

/* Landingpage slutt */

/* historien page start */
.wrapper_1{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.left, #right {
    width: 40%;
    height: 80%;
    /* border: 1px black solid; */
}

.left {
    /* background-image: url(../img/William\ hel.png);
    background-size: cover; */
    display: flex;
    align-items: center;
}

#bakgrunds_bilde{
    width: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: center; */
    text-align: center;
    /* border: 1px solid black ; */
}

/* Tester nytt start */
#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* position: center; */
    /* text-align: center; */
    /* border: 1px solid black ; */
    gap: 30px;
}

.subtext {
    /* background-color: white; */
    /* text-align: left; */
    color: white;
    /* background-color: brown; */
    max-width: 70%;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    /* margin: 0px auto; */
}

.thoughts, .talk {
    color: #30011E;
    font-size: 18px;
    padding: 20px 25px;
    border-radius: 10px;
    max-width: 40%;
}

.thoughts {
    border: 2px dashed #30011E;
}

[data-person="William"] {
    background-color: #B5C9D1;
}

[data-person="Girl"] {
    background-color: #DFABA9;
}

[data-person="Jacob"] {
    background-color: #DADADA;
}

[data-person="Boy"] {
    background-color: #80D19B;
}

#h_left{
    margin: 0px auto;
}

#nr_1 {
    order: 1;
}

#nr_2 {
    order: 2;
}

#nr_3 {
    order: 3;
}

#nr_4 {
    order: 4;
}

#nr_5 {
    order: 5;
}

/* Tester nytt slutt */


/* h3{
    color: FFFFFF;
    max-width: 70%;
    font-size: 30px;
    font-weight: 400;
} */

.right_h_1, .right_v, .right_h_2 {
    /* background-color: blue; */
    /* align-items: ; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    row-gap: 30px;
}

.right_h_1, .right_h_2 {
    align-items: flex-end;
    /* background-color: green; */
    
}

.right_v{
    align-items: flex-start;
    /* background-color: pink; */
}

#h_1, #h_2, #h_4 {
    /* background-color: rgb(68, 68, 245);
    color: white; */
    /* padding: 20px; */
    border-radius: 5px;
    
}

#info_1, #info_2, #info_3 {
    color: white;
    /* background-color: brown; */
    max-width: 70%;
    font-size: 30px;
    font-weight: 400;
}

#info_1 {
    margin-bottom: 30px;
}

#info_2 {
    margin: 30px 0px;
}

#info_3 {
    margin-top: 30px;
}
/* historien page slutt */

/* Generelt konto sider start */
.wrapper_1_konto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
}

#tittel_konto {
    margin: 0px 0px 5px 0px;
    font-size: 80px;
}

#info_konto {
    margin: 0px;
    font-weight: 200;
}

.wrapper_2_konto {
    color: FFFFFF;
    margin-top: 100px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.wrapper_3_konto {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

.wrapper_4_konto {
    display: flex;
    flex-direction: column;
}

#wrapper_4_out {
    color: D9D9D9;
}

/* Generelt konto sider slutt */


#Sign_up_p, #Log_in_p {
    /* background-color: rgb(111, 111, 198);  */
    padding: 15px 35px;
    margin: 0px;
    border-radius: 15px;
    text-decoration: none;
    color: D9D9D9;
    max-width: 100px;
    font-size: 30px;
}

#Sign_up_p:hover, #Log_in_p:hover { 
    background-color: D9D9D9;
    color: 605F5E;
}

input {
    height: 60px;
    width: 400px;
    border-radius: 13px;
    border: 0px solid black;
    background-color: D9D9D9;
    padding-left: 15px;
}

label {
    color: FFFFFF;
    /* margin-bottom: 5px; */
    margin-left: 15px;
    font-size: 20px;
}

::placeholder {
    color: 605F5E;
    font-size: 15px;
}

@font-face {
    font-family: Signika_light;
    src: url(../font/Signika/static/Signika-Light.ttf);
}