body{
    background-color: 605F5E;
    margin: 0px;
    /* padding: 0px; */
    font-family: Signika_light;
    font-weight: thin;
}

.wrapper_1{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.left, .right {
    width: 40%;
    height: 80%;
    /* border: 1px black solid; */
}

.left {
    /* background-image: url(../img/William\ hel.png);
    background-size: cover; */
    display: flex;
    align-items: center;
}

#bakgrunds_bilde{
    width: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: center;
    text-align: center;
}

h3{
    color: FFFFFF;
    max-width: 70%;
    font-size: 30px;
    font-weight: 400;
}

@font-face {
    font-family: Signika_light;
    src: url(../font/Signika/static/Signika-Light.ttf);
}