body{
    background-color: 605F5E;
    margin: 0px;
    font-family: signika_light;
}

/* Fonter start */
#tittel_landing, #tittel_konto {
    font-family: inter_bold;
}

#info_landing, #info_konto {
    font-family: inter_light;
}

#Sign_up_p, #Log_in_p, #or_landing, .yes, .no, .PåNytt{
    font-family: signika_bold;
}
/* Fonter slutt */


/* Landingpage start */
.wrapper_1_landing {
    width: 100%;
    height: 100%;
    }
    
.wrapper_2_landing {
    color: FFFFFF;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    top: 40%;
}

#tittel_landing{
    margin: 0px 0px 5px 0px;
    font-size: 80px;
}

#info_landing{
    margin: 0px;
    font-weight: 200;
}

.wrapper_3_landing{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    color: FFFFFF;
    font-weight: 1000;
    position: relative;
    left: auto;
    top: 67%;
}
/* Landingpage slutt */


/* historien page start */
.wrapper_1{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.left, #right {
    width: 40%;
    height: 80%;
}

.left {
    display: flex;
    align-items: center;
}

#bakgrunds_bilde{
    width: 100%;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.subtext {
    color: white;
    max-width: 70%;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.thoughts, .talk {
    color: #30011E;
    font-size: 18px;
    padding: 20px 25px;
    border-radius: 10px;
    max-width: 40%;
}

.thoughts {
    border: 2px dashed #30011E;
}

.yes , .no {
    color: #605F5E;
    font-size: 30px;
    width: 130px;
    height: 65px;
    border: 0px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.yes{
    background-color: #1B9437;
}

.no {
    background-color: #E85943;
}

.yes:hover{
    background-color: transparent;
    color: #1B9437;
}

.no:hover{
    background-color: transparent; 
    color: #E85943;
}

#buttonAiria {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 40px;

}

[data-person="William"] {
    background-color: #B5C9D1;
}

[data-person="Girl"] {
    background-color: #DFABA9;
}

[data-person="Jacob"] {
    background-color: #DADADA;
}

[data-person="Boy"] {
    background-color: #80D19B;
}

#nr_1 {
    order: 0;
}

#nr_2 {
    order: 1;
}

#nr_3 {
    order: 2;
}

#nr_4 {
    order: 3;
}

#nr_5 {
    order: 4;
}

.PåNytt {
    padding: 15px 35px;
    color: #D9D9D9;
    font-size: 30px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    align-self: center;
    cursor: pointer;

}

.PåNytt:hover {
    background-color: #D9D9D9;
    color: #605F5E;
}
/* historien page slutt */


/* Generelt konto sider start */
.wrapper_1_konto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
}

#tittel_konto {
    margin: 0px 0px 5px 0px;
    font-size: 80px;
}

#info_konto {
    margin: 0px;
    font-weight: 200;
}

.wrapper_2_konto {
    color: FFFFFF;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper_3_konto {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

.wrapper_4_konto {
    display: flex;
    flex-direction: column;
}

#wrapper_4_out {
    color: D9D9D9;
}

#konto_link {
    color: #D9D9D9;
    cursor: pointer;
}
/* Generelt konto sider slutt */


#Sign_up_p, #Log_in_p {
    padding: 15px 35px;
    margin: 0px;
    border-radius: 15px;
    text-decoration: none;
    color: #D9D9D9;
    max-width: 100px;
    font-size: 30px;
    cursor: pointer;

}

#Sign_up_p:hover, #Log_in_p:hover { 
    background-color: #D9D9D9;
    color: #605F5E;
}

input {
    height: 60px;
    width: 400px;
    border-radius: 13px;
    border: 0px solid black;
    background-color: D9D9D9;
    padding-left: 15px;
    cursor: pointer;

}

label {
    color: FFFFFF;
    /* margin-bottom: 5px; */
    margin-left: 15px;
    font-size: 20px;
}

::placeholder {
    color: 605F5E;
    font-size: 15px;
}

/* Animasjoner start */
#bakgrunds_bilde, .subtext, .thoughts, .talk, .PåNytt, .yes, .no {
    animation-name: easeIn;
    animation-duration: 2s;
}
/* Animasjoner slutt */

@font-face {
    font-family: signika_light;
    src: url(../font/Signika/static/Signika-Light.ttf);
}

@font-face {
    font-family: signika_bold;
    src: url(../font/Signika/static/Signika-Bold.ttf);
}

@font-face {
    font-family: inter_bold;
    src: url(../font/Inter/static/Inter_28pt-Bold.ttf);
}

@font-face {
    font-family: inter_light;
    src: url(../font/Inter/static/Inter_24pt-Light.ttf);
}


@keyframes easeIn {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}